<link rel="icon" href="{{ "images/logo.svg" | relURL }}">
<style>
    /* Preserve the original text color for links */
    a {
        color: inherit; /* Use the default inherited color from the theme */
        text-decoration: none; /* Remove default underline */
        transition: text-decoration 0.3s ease; /* Smooth transition */
    }

    /* Add an underline effect on hover */
    a:hover, a:focus {
        text-decoration: underline; /* Underline effect on hover and focus */
    }
</style>
