/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}

/* assets/css/custom.css */

/* You can add more colors as needed */
.bg-custom {
  background-color: #808080; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
  gap: 1rem; /* Add spacing between items */
  padding: 1rem;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Quick Search Typing Effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #000; /* Black cursor */
  padding-left: 0.8em;
  animation: typing 3s steps(20) 1 normal both, stopCursor 2s steps(20) 1 normal both; /* Adjusts animation */
}

@keyframes stopCursor {
  0% {
    border-right: 3px solid #000;
  }
  100% {
    border-right: none;
  }
}

/* Container for Quick Search Text and Pagefind Search Bar */
#search-container {
  text-align: left; /* Align both elements to the left */
  margin-top: 20px;
  padding-left: 20px; /* Ensure there is padding on the left */
}

/* Pagefind Search Bar */
.search-left {
  text-align: left; /* Ensure the search bar is aligned to the left */
  margin-top: 10px; /* Optional: Adjust the spacing between the text and the search bar */
}

#search-page {
  text-align: left; /* Align both elements to the left */
  margin-top: -100px;
  padding-left: 420px;
  font-size: 1.2rem;
}

#packages-table {
  margin-top: -40px
}

/* Alternating row colors */
#packages-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;  /* Light grey for odd rows */
}

#packages-table tbody tr:nth-child(even) {
  background-color: #ffffff;  /* White for even rows */
}

#packages-table th {
  background-color: #d3d3d3;  /* Light grey background for the header */
}

#packages-table td {
  border: 1px solid #ccc;
}

#packages-table {
  border-collapse: collapse;
}
